:root {
  color-scheme: dark;
  --color-surface: 7 20 15;
  --color-surface-muted: 13 33 25;
  --color-surface-elevated: 20 48 38;
  --color-border: 39 85 71;
  --color-primary: 4 122 23;
  --color-primary-strong: 3 99 18;
  --color-accent: 3 122 69;
  --color-text: 233 247 239;
  --color-text-muted: 156 166 162;
  --color-success: 15 157 88;
  --color-warning: 255 131 0;
  --color-danger: 255 25 30;
  --radius-box: 1rem;
  --radius-button: 0.5rem;
  --radius-badge: 1.9rem;
  --sidebar-width: 280px;
}

.theme-forest {
  color-scheme: dark;
  --color-surface: 7 20 15;
  --color-surface-muted: 13 33 25;
  --color-surface-elevated: 20 48 38;
  --color-border: 39 85 71;
  --color-primary: 4 122 23;
  --color-primary-strong: 3 99 18;
  --color-accent: 3 122 69;
  --color-text: 233 247 239;
  --color-text-muted: 156 166 162;
  --color-success: 15 157 88;
  --color-warning: 255 131 0;
  --color-danger: 255 25 30;
}

.theme-light {
  color-scheme: light;
  --color-surface: 242 251 246;
  --color-surface-muted: 223 243 232;
  --color-surface-elevated: 203 232 219;
  --color-border: 129 169 150;
  --color-primary: 4 122 23;
  --color-primary-strong: 3 99 18;
  --color-accent: 15 157 88;
  --color-text: 5 32 21;
  --color-text-muted: 60 84 74;
  --color-success: 11 125 77;
  --color-warning: 217 119 6;
  --color-danger: 220 38 38;
}

:root[data-blur='true'] .content-area {
  filter: blur(3px);
  pointer-events: none;
}
